<header>
	<div class="logo">
		<p>Petsonix Organic Food</p>
	</div>
	<nav>
		<ul>
			<li>Home</li>
			<li>About</li>
			<li>Ingredients</li>
			<li>Products</li>
			<li>Contact</li>
		</ul>
	</nav>
</header>