// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: source-sans-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
$blue: #64C1ED;
$green: #789827;
$beige: #997420;
$orange: #FF8006;

body {
	font: 100% $font-stack;
}